  body {
    background-color: rgb(0, 0, 0);
  }
  .error-text h1 {
    white-space: pre-line;
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 36px;
    overflow: hidden; 
    border-right: .15em solid #C4C4C4; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .025em; 
    animation: 
    typing 4.25s steps(40, end), blink-caret .75s step-end infinite;
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0px;
    display: inline-block;
    -webkit-text-stroke-width: 100px;
    -webkit-text-stroke-color: red;
    font-size: 200px;
    margin-bottom: 100px;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #C4C4C4; }
  }
  .begin{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    font-weight: 400;
    font-size: larger;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .frame_1{
width: 500px;
margin-bottom: 0px;

  }
  /*.para-1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  }*/
  .para-1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 25px;
    margin-top: 100px;
    margin-left: 80px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 0px;
    letter-spacing: -3px;
  }
  .para-2{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  }
  .para-3{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  }
  .para-4{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  }
  .circle-one{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
  }
  .in-poetry{
    font-size: 60px;
  }
  font-family: 'didot';
  font-size: 25px;
  width: 1000px;
  margin-top: 100px;
  margin-left: 80px;
  float: left;
  cursor: pointer;
  letter-spacing: -3px;
  transition: opacity 0.15s;